!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, height=device-height, initial-scale=1"}
    = favicon_link_tag '/logo.ico'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Social Calendar
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      =render 'layouts/navigation'
    .container-fluid
      = render 'layouts/messages'
      = yield




